.post-content img {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 3px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
  border: 1px solid #777; }

article.post form#search {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750px;
  margin: 0 auto;
  display: block; }

.main-content-wrap table {
  margin-top: 1.5em; }

code {
  background: #ebebeb; }

pre > code {
  background: #faf8f0;
  border: 1px dotted #bebab0;
  color: initial;
  border-radius: 3px; }

dl, ol, ul {
  margin: 1.5em 0 .5em; }

li {
  margin: 0.5em 0 0 0; }

ul.post-action-share li, ul.post-action-nav li {
  margin: 0; }

#toc-container {
  background: #e6f1ff;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin: 1em 0 1em 0;
  width: 100%; }

h1#table-of-contents {
  padding: 0 0 0 1em;
  display: inline-block;
  margin: 0.5em 0 0.5em 0.5em; }

#TableOfContents {
  padding: 0 1em 1em 0;
  line-height: 1.3em;
  display: none; }

#show {
  visibility: hidden; }

#show:not(checked) ~ #TableOfContents {
  display: none; }

#show:not(checked) ~ #showbtn .show {
  display: block; }

#show:not(checked) ~ #showbtn .hide {
  display: none; }

#show:checked ~ #TableOfContents {
  display: block; }

#show:checked ~ #showbtn .show {
  display: none; }

#show:checked ~ #showbtn .hide {
  display: block; }

#showbtn {
  font-size: 1em;
  cursor: pointer;
  color: #666;
  font-weight: 700;
  display: inline-block; }

#TableOfContents ul {
  margin: 0.5em 0 0 0;
  list-style: outside none none; }

#TableOfContents > ul {
  counter-reset: head1; }

#TableOfContents > ul > li > a::before {
  content: counter(head1) ". ";
  counter-increment: head1;
  color: #888; }

#TableOfContents > ul > li > ul {
  counter-reset: head2; }

#TableOfContents > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) ". ";
  counter-increment: head2;
  color: #888; }

#TableOfContents > ul > li > ul > li > ul {
  counter-reset: head3; }

#TableOfContents > ul > li > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) "." counter(head3) ". ";
  counter-increment: head3;
  color: #888; }

#TableOfContents > ul > li > ul > li > ul > li > ul {
  counter-reset: head4; }

#TableOfContents > ul > li > ul > li > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) ". ";
  counter-increment: head4;
  color: #888; }

#sidebar * {
  font-weight: 900 !important;
  text-shadow: 0px 0px 1px #000 !important;
  color: #fff !important; }

#sidebar {
  background: rgba(0, 0, 100, 0.4) !important;
  padding: 0px;
  border-radius: 0px; }

.sidebar-profile-picture {
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1); }

.postShorten-thumbnailimg img {
  border-radius: 3px;
  border: 1px dotted #777; }

.postShorten-excerpt p {
  margin: 0 !important; }

span.breadcrumbs {
  display: block;
  padding: 8px;
  text-align: center;
  background: rgba(0, 0, 50, 0.05);
  box-shadow: 2px 2px 1px #ccc; }

.talks {
  display: block;
  padding: 8px;
  text-align: center;
  background: rgba(0, 0, 50, 0.05);
  box-shadow: 2px 2px 1px #ccc; }

.talks .fa {
  margin-right: 5px; }

h2 > [data-type], h3 > [data-type], h4 > [data-type] {
  display: none; }

h2:hover > [data-type], h3:hover > [data-type], h4:hover > [data-type] {
  display: initial; }

span[data-type] {
  color: #349ef3;
  cursor: pointer; }

span[data-type]:hover {
  text-decoration: underline; }

.post-actions-wrap {
  height: 60px;
  padding: 0;
  line-height: 60px;
  clear: both; }
  .post-actions-wrap ul.post-actions {
    float: left;
    padding-left: 0;
    margin-top: 0;
    list-style: none; }
    .post-actions-wrap ul.post-actions li.post-action {
      width: auto;
      text-align: center; }
  .post-actions-wrap ul.post-action-nav {
    width: 35%;
    z-index: 44; }
    .post-actions-wrap ul.post-action-nav li.post-action {
      float: left;
      min-width: 42px; }
      .post-actions-wrap ul.post-action-nav li.post-action:last-child .post-action-btn {
        margin-left: 15px; }
  .post-actions-wrap ul.post-action-share {
    width: 65%;
    z-index: 43; }
    .post-actions-wrap ul.post-action-share li.post-action {
      float: right; }
      .post-actions-wrap ul.post-action-share li.post-action:nth-child(n + 3) .post-action-btn {
        margin-right: 15px; }

@media print {
  .post-actions-wrap {
    display: none; } }

img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px; }

img:not([src]) {
  visibility: hidden; }
