iframe {
  margin-top: 12px; }

.post h1, .post h2, .post h3, .post h4, .post h5, .post h6, #table-of-contents {
  font-family: Roboto, sans-serif;
  border-bottom: 2px solid black;
  letter-spacing: .01em; }

.post-header h1 {
  text-transform: uppercase; }

h1 {
  font-size: 3rem !important; }

h2 {
  font-size: 2.8rem !important; }

h3 {
  font-size: 2.4rem !important; }

h4 {
  font-size: 2.2rem !important; }

h5 {
  font-size: 2rem !important; }

.post-content p, .post-content li, table {
  font-family: Roboto,sans-serif;
  font-size: 2rem;
  line-height: 1.6em;
  letter-spacing: .01em;
  color: #4a4a4a; }

#TableOfContents li {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit; }

.post-content a {
  text-decoration: none !important;
  color: #0E52AE !important;
  border-bottom: 1px solid #ccc; }

.post-content a:hover {
  border-bottom: 1px solid #555; }

img.cover {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto; }

.post-content img {
  margin: 1.5em auto;
  border-radius: 3px;
  box-shadow: 5px 5px 2px rgba(14, 82, 174, 0.4);
  border: 1px solid #0e52ae;
  height: auto; }

article.post form#search {
  padding-left: 20px;
  padding-right: 20px;
  max-width: 750px;
  margin: 0 auto;
  display: block; }

.main-content-wrap table {
  margin: 1.5em auto;
  overflow-x: auto;
  max-width: 100%;
  display: block; }

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25rem; }

.badge-primary {
  color: #fff;
  background-color: #007bff; }

code {
  background: #ebebeb; }

pre > code {
  background: #faf8f0;
  border: 1px dotted #bebab0;
  color: initial;
  border-radius: 3px; }

dl, ol, ul {
  margin: 1.5em 0 .5em; }

li {
  margin: 0.5em 0 0 0; }

ul.post-action-share li, ul.post-action-nav li {
  margin: 0; }

#toc-container {
  background: #e6f1ff;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin: 1.5em auto;
  width: 100%; }

h1#table-of-contents {
  padding: 0 0 0 1em;
  display: inline-block;
  margin: 0.5em 0 0.5em 0.5em;
  border-bottom: 0px; }

h1#table-of-contents-mobile {
  display: none; }

#TableOfContents {
  padding: 0 1em 1em 0;
  line-height: 1.3em;
  display: none; }

#show {
  display: none; }

#show:not(checked) ~ #TableOfContents {
  display: none; }

#show:not(checked) ~ #showbtn .show {
  display: block; }

#show:not(checked) ~ #showbtn .hide {
  display: none; }

#show:checked ~ #TableOfContents {
  display: block; }

#show:checked ~ #showbtn .show {
  display: none; }

#show:checked ~ #showbtn .hide {
  display: block; }

#showbtn {
  font-size: 2.8rem;
  cursor: pointer;
  color: #666;
  font-weight: normal;
  display: inline-block;
  font-family: "Open Sans", sans-serif; }

#TableOfContents ul {
  margin: 0.5em 0 0 0;
  list-style: outside none none; }

#TableOfContents > ul {
  counter-reset: head1; }

#TableOfContents > ul > li > a::before {
  content: counter(head1) ". ";
  counter-increment: head1;
  color: #888; }

#TableOfContents > ul > li > ul {
  counter-reset: head2; }

#TableOfContents > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) ". ";
  counter-increment: head2;
  color: #888; }

#TableOfContents > ul > li > ul > li > ul {
  counter-reset: head3; }

#TableOfContents > ul > li > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) "." counter(head3) ". ";
  counter-increment: head3;
  color: #888; }

#TableOfContents > ul > li > ul > li > ul > li > ul {
  counter-reset: head4; }

#TableOfContents > ul > li > ul > li > ul > li > ul > li > a::before {
  content: counter(head1) "." counter(head2) "." counter(head3) "." counter(head4) ". ";
  counter-increment: head4;
  color: #888; }

#sidebar * {
  font-weight: 900 !important;
  text-shadow: 0px 0px 1px #000 !important;
  color: #fff !important; }

#sidebar {
  background: rgba(0, 0, 100, 0.4) !important;
  padding: 0px;
  border-radius: 0px; }

.sidebar-profile-picture {
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.1); }

.postShorten-thumbnailimg img {
  border-radius: 3px;
  border: 1px dotted #777;
  width: 187px !important; }

.postShorten-excerpt p {
  margin: 0 !important; }

span.breadcrumbs {
  display: block;
  padding: 8px;
  text-align: center;
  background: rgba(0, 0, 50, 0.05);
  box-shadow: 2px 2px 1px #ccc; }

#_progress {
  --scroll: 0%;
  background: linear-gradient(to right, #008f69 var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0px;
  z-index: 100; }

form.seva-form {
  margin-top: 15px; }

.simmer {
  display: block;
  padding: 15px;
  background: rgba(83, 10, 139, 0.8);
  box-shadow: 2px 2px 1px #ccc;
  color: #fff;
  text-align: center;
  margin: 1.5em auto;
  position: relative; }

.simmer .close {
  position: absolute;
  top: 0;
  right: 15px;
  font-weight: bold;
  cursor: pointer; }

.simmer .fa {
  margin-right: 5px; }

.simmer a {
  color: #fff !important;
  border-bottom: 2px dotted #fff; }

.simmer a:hover {
  text-decoration: none;
  border-bottom: 2px solid #fff; }

.simmer p {
  color: #fff;
  margin: 0 0 5px 0 !important; }

.simmer p:last-child {
  margin: 0 0 0 0 !important; }

.talks {
  display: block;
  padding: 8px;
  text-align: center;
  background: rgba(0, 0, 50, 0.05);
  box-shadow: 2px 2px 1px #ccc; }

.talks .fa {
  margin-right: 5px; }

h2 > [data-type], h3 > [data-type], h4 > [data-type] {
  display: none; }

h2:hover > [data-type], h3:hover > [data-type], h4:hover > [data-type] {
  display: initial; }

span[data-type] {
  color: #349ef3;
  cursor: pointer; }

span[data-type]:hover {
  text-decoration: underline; }

.post-actions-wrap {
  height: 60px;
  padding: 0;
  line-height: 60px;
  clear: both; }
  .post-actions-wrap ul.post-actions {
    float: left;
    padding-left: 0;
    margin-top: 0;
    list-style: none; }
    .post-actions-wrap ul.post-actions li.post-action {
      width: auto;
      text-align: center; }
  .post-actions-wrap ul.post-action-nav {
    width: 35%;
    z-index: 44; }
    .post-actions-wrap ul.post-action-nav li.post-action {
      float: left;
      min-width: 42px; }
      .post-actions-wrap ul.post-action-nav li.post-action:last-child .post-action-btn {
        margin-left: 15px; }
  .post-actions-wrap ul.post-action-share {
    width: 65%;
    z-index: 43; }
    .post-actions-wrap ul.post-action-share li.post-action {
      float: right; }
      .post-actions-wrap ul.post-action-share li.post-action:nth-child(n + 3) .post-action-btn {
        margin-right: 15px; }

@media print {
  .post-actions-wrap {
    display: none; } }

@media only screen and (min-width: 480px) {
  .postShorten.postShorten--thumbnailimg-left .postShorten-wrap {
    width: calc(100% - 187px - 20px) !important; } }

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h1#table-of-contents-mobile {
    padding: 0 0 0 1em;
    display: inline-block;
    margin: 0.5em 0 0.5em 0.5em;
    border-bottom: 0px; }
  h1#table-of-contents {
    display: none; }
  #showbtn > span {
    display: none !important; } }

img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px; }

img:not([src]) {
  visibility: hidden; }

div.comentario-profile-bar.comentario-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

div.comentario-profile-bar .comentario-toolbar-section {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

div.comentario-profile-bar .comentario-toolbar-section .comentario-avatar-img {
  display: block; }

div.comentario-profile-bar .comentario-toolbar-section .comentario-name {
  flex-shrink: 0; }
